body {
  background-color: fff;
}

.App {
  background-color: fff;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  box-shadow: 0px 0px 10px 8px #E8E8E8;
}

#to-do-form input {
  background-color: #68b0ab;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}

#to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#to-do-form input:focus,
#to-do-form button {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #006a71;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
  font-size: 18px;
}